{% extends 'base.html.twig' %}

{% block body %}
  <style>
    section {
      padding: 2rem 9%;
    }
    
    header {
      position: fixed;
      margin: 0 12px 0 12px;
    }

    .btnabout {
      display: inline-block;
      margin-top: 1rem;
      border-radius: 5rem;
      background: rgb(19, 18, 18);
      color: #fff;
      padding: 0.9rem 3.5rem;
      cursor: pointer;
      font-size: 1.7rem;
    }
    
    .btnabout:hover {
      background: var(--orange);
    }
    
    .home {
      display: flex;
      align-items: center;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
    }
    
    .home .content h3 {
      font-size: 4rem;
      color: #333;
    }
    
    .home .content span {
      font-size: 3.5rem;
      color: var(--orange);
      padding: 1rem 0;
      line-height: 1.5;
    }
    
    .home .content p {
      font-size: 1.5rem;
      color: #999;
      padding: 1rem 0;
      line-height: 1.5;
    }
    
    .home .content h4 {
      font-size: 1.3rem;
      color: rgb(19, 13, 13);
    }
  </style>
  <section class="home justify-content-center" id="home" style="background-image: url(Image/test3.jpg)">
    <div class="mt-5 m-5 p-5" style="background-color: rgba(0, 0, 0, 0.4);">
      <div class="mt-5 d-flex justify-content-center align-items-center h-200">
        <div class="text-white">
          <div class="content">
            <h3 style="color:white" align="center">ABOUT</h3>
            <h4 align="center"><span>The Light SecondHand</span></h4>
            <p class="text-white">Is one of the largest and most prestigious 2hand stores in Can Tho.

              The store specializes in providing 2hand products of many brands with reasonable prices and excellent quality.

              Besides, the store always puts the user's experience first, so customers can exchange and return goods within

              the first 10 days of experience if they are not satisfied with the product.

              At The light Store, customers will be able to shop comfortably without worrying about the price because we always put quality and user experience first.</p>
            <div class="text-center">
              <a href="{{ path('shop') }}" class="btn btnabout" align="center">START NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
