{% extends "base.html.twig" %}

{% block body %}
	<!-- home section starts  -->
	<section class="home" id="home" style="background-image: url(Image/home.jpg)">
		<div class="content">
			<h3>TheLight Store</h3>
			<span>
				Luxurious &  elegant
			</span>
			<h4>The quality of our products and the customer experience are always our top priority.</h4>
			<a href="#" class="btn">shop now</a>
		</div>
	</section>
	<!-- home section ends -->


	<!-- about section starts  -->
	<section class="about" id="about">
		<h1 class="heading">
			<span>
				about
			</span>
			us
		</h1>
		<div class="row">
			<div class="video-container">
				<video src="Image/about.mp4" loop autoplay muted></video>
				<h3>TheLight Store</h3>
			</div>
			<div class="content">
				<h3>why choose us?</h3>
				<p></p>
				<p>TheLight Store is one of the largest and most prestigious 2hand stores in Cantho. At The light Store customers will be able to shop comfortably without worrying about price because we always put quality, and user experience first...</p>
				<a href="#" class="btn">learn more</a>
			</div>
		</div>
	</section>
	<!-- about section ends -->


	<!-- icons section starts  -->
	<section class="icons-container">
		<div class="icons">
			<img src="Image/icon-1.png" alt="">
			<div class="info">
				<h3>free delivery</h3>
				<span>In Cantho City</span>
			</div>
		</div>
		<div class="icons">
			<img src="Image/icon-2.png" alt="">
			<div class="info">
				<h3>10 days returns</h3>
				<span>moneyback guarantee</span>
			</div>
		</div>
		<div class="icons">
			<img src="Image/icon-3.png" alt="">
			<div class="info">
				<h3>offer & gifts</h3>
				<span>More than 5 orders in 1 month</span>
			</div>
		</div>
		<div class="icons">
			<img src="Image/icon-4.png" alt="">
			<div class="info">
				<h3>secure paymens</h3>
				<span>Payment via ATM, Momo, Viettelpay</span>
			</div>
		</div>
	</section>
	<!-- icons section ends -->


	<!-- review section starts  -->
	<section class="review" id="review">
		<h1 class="heading">
			customer's
			<span>review</span>
		</h1>
		<div class="box-container">
			<div class="box">
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</div>
				<p>ĐẸP VCL.</p>
				<div class="user">
					<div class="user-info">
						<h3>Thai Duong</h3>
					</div>
				</div>
				<span class="fas fa-quote-right"></span>
			</div>

			<div class="box">
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</div>
				<p>Ờ mây zing, gút chóp !!!!.</p>
				<div class="user">
					<div class="user-info">
						<h3>Duy Quang</h3>
					</div>
				</div>
				<span class="fas fa-quote-right"></span>
			</div>

			<div class="box">
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</div>
				<p>Duma hết nước chấm!!!!.</p>
				<div class="user">
					<div class="user-info">
						<h3>Tuan Anh</h3>
					</div>
				</div>
				<span class="fas fa-quote-right"></span>
			</div>

		</div>
	</section>
	<!-- review section ends -->
{% endblock %}
