{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3">REGISTRATION</h1>
	
	{{ form_start(form_User) }}
	{{ form_widget(form_User) }}

	<div class="text-center">
		<input class="btn btn-primary mb-3" type="submit" value="Register">
	</div>
	{{ form_end(form_User) }}

{% endblock %}
