{% extends 'base.html.twig' %}

{% block title %}More infomation
{% endblock %}

{% block body %}
	<div class="border px-5 my-2">
		<h1 class="text-center mt-3">More Information</h1>
		{{ form_start(form_Cus) }}
		{{ form_widget(form_Cus) }}
		<div class="text-center">
			<input class="btn btn-primary my-3" type="submit" value="Confirm">
		</div>
		{{ form_end(form_Cus) }}
	</div>

{% endblock %}
