{% extends 'base.html.twig' %}

{% block title %}Adding Brands
{% endblock %}

{% block body %}
	<div class="my-3">
		<h1 class="text-center mb-4">Adding Brand</h2>
		{{ form_start(form_Brand) }}

		{{ form_end(form_Brand) }}
	</div>
{% endblock %}
