{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger mt-2 mb-0" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="px-5 my-2 border">
		<h1 class="text-center mt-2">Reset your password</h1>
		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Enter your email address and we will send you a
				link to reset your password.
			</small>
		</div>
		<div class="text-center">
			<button class="btn btn-primary my-3">Send password reset email</button>
		</div>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
