section {
    padding: 2rem 9%;
  }
  
  header {
    position: fixed;
    margin: 0 12px 0 12px;
  }
  
  .btnabout {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: rgb(19, 18, 18);
    color: #fff;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
  .btnabout:hover {
    background: var(--orange);
  }
  
  .home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .home .content h3 {
    font-size: 4rem;
    color: #333;
  }
  
  .home .content span {
    font-size: 3.5rem;
    color: var(--orange);
    padding: 1rem 0;
    line-height: 1.5;
  }
  
  .home .content p {
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
  }
  
  .home .content h4 {
    font-size: 1.3rem;
    color: rgb(19, 13, 13);
  }

  @media only screen and (max-width: 600px) {
    .content-left {
      margin-top: 10rem;
    }
  }

  @media only screen and (min-width: 600px) {
    .content-left {
      margin-top: 10rem;
    }
  }

  @media only screen and (min-width: 768px) {
    .content-left {
      margin-top: 3rem;
    }
  }

  @media only screen and (min-width: 992px) {
    .content-left {
      margin-top: 0rem;
    }
  }