{% extends 'base.html.twig' %}

{% block title %}Change Password
{% endblock %}

{% block body %}
	<h1 class="text-center my-3">Change Password</h2>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-5 text-center">
			{{ message }}
		</div>
	{% endfor %}
	{{ form_start(change_password_form) }}
	{{ form_widget(change_password_form) }}
	<div class="text-center mb-3">
		<input class="btn btn-primary" type="submit" value="Confirm">
	</div>
	{{ form_end(change_password_form) }}
{% endblock %}
