{% extends 'base.html.twig' %}

{% block title %}Adding Supplier
{% endblock %}

{% block body %}
	<div class="m-5">
		<h1 class="text-center mb-4">Adding Supplier</h2>
		{{ form_start(form_Supplier) }}

		{{ form_end(form_Supplier) }}
	</div>
{% endblock %}
