{% extends 'base.html.twig' %}

{% block title %}Adding Products
{% endblock %}

{% block body %}
	<div class="my-3">
		<h1 class="text-center mb-4">Adding Product</h2>
		{{ form_start(form_Product) }}

		{{ form_end(form_Product) }}
	</div>
{% endblock %}
