{% extends 'base.html.twig' %}

{% block title %}Editing Products
{% endblock %}

{% block body %}
	<div class="m-5">
		<h1 class="text-center mb-4">Editing Product</h2>
		{{ form_start(form_Product) }}

		{{ form_end(form_Product) }}
	</div>
{% endblock %}
